body {background:#000;color:#fff;}

.wrap {position:relative;z-index:1;text-align:center;}
.wrap input[type="text"] {width:300px;height:30px;padding:0 10px;margin:10px 0;border:1px solid #fff;background:rgba(255,255,255,0.5);color:#000;font-size:12px;}

.btn {cursor:pointer;}
.clicked {color:#00f;}

.clock {font-size:20px;}

.name,
.greetings {display:none;}
.showing {display:block;}

.toDoList {width:300px;margin:0 auto;text-align:left;}
.toDoList li {margin:5px 0;}
.toDoList li button {margin-left:10px;}

.weather {}

@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;}
}

.bgImage {position:absolute;z-index:0;left:0;top:0;width:100%;height:100%;animation:fadeIn 0.5s;}