html, body, h1, h2, h3 {padding:0;margin:0;}
body {background:#000;color:#fff;}
div, input[type="text"] {box-sizing:border-box;}

.bgImage {position:absolute;z-index:0;left:0;top:0;width:100%;height:100%;animation:fadeIn 0.5s;}
@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;}
}
.bgColor {position:absolute;z-index:0;left:0;top:0;width:100%;height:100%;animation:fadeIn 0.5s;}

.wrap {position:relative;z-index:1;padding:100px 20px;text-align:center;}
.wrap input[type="text"] {display:block;width:100%;height:40px;padding:5px 10px;margin:10px 0;border:2px solid #fff;background:rgba(255,255,255,0.5);color:#000;font-size:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle;border-radius:0;-webkit-border-radius:0;appearance:none;-moz-appearance:none;-o-appearance:none;-webkit-appearance:none;}
.wrap input[type="text"]::-webkit-input-placeholder {color:#fff;} /* Chrome/Opera/Safari */
.wrap input[type="text"]::-moz-placeholder {color:#fff;} /* Firefox 19+ */
.wrap input[type="text"]:-ms-input-placeholder {color:#fff;} /* IE 10+ */
.wrap input[type="text"]:-moz-placeholder {color:#fff;} /* Firefox 18- */

#title {position:absolute;left:20px;top:20px;width:90px;height:30px;margin:0;padding:10px 10px 5px 10px;background:rgba(255,255,255,0.3);border:2px solid #fff;border-radius:15px;-webkit-border-radius:15px;font-size:20px;line-height:30px;text-align:center;}

.btn {cursor:pointer;}
.clicked {color:#00f;}

.clock h2 {position:absolute;right:20px;top:20px;width:110px;height:30px;margin:0;padding:10px 10px 5px 10px;background:rgba(255,255,255,0.3);border:2px solid #fff;border-radius:15px;-webkit-border-radius:15px;font-size:16px;line-height:30px;text-align:center;}

.greetings {padding:10px 0;font-size:20px;}

.name,
.greetings {display:none;}
.showing {display:block;}

.toDoList {width:100%;margin:0 auto;padding-left:20px;text-align:left;}
.toDoList li {margin:5px 0;font-size:18px;}
.toDoList li button {margin-left:10px;}

.weather {position:absolute;left:0;bottom:20px;display:block;width:100%;font-size:16px;text-align:center}