@import "reset.css";

:root {
    --first-color: #201E43;
    --second-color: #134B70;
    --third-color: #508C9B;
    --fourth-color: #EEEEEE;
    --white-color: #fff;

    --padding-medium: 20px;
    --border-radius-medium: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--first-color);
    color: var(--first-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

.wrap {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius-medium);
    overflow: hidden;
}

/* color_section */
.color_section {
    padding: var(--padding-medium);
    background-color: var(--fourth-color);
}

/* canvas_section */
.canvas_section {
    padding: var(--padding-medium);
    background-color: var(--white-color);
}

canvas {
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: var(--border-radius-medium);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* control_section */
.control_section {
    padding: var(--padding-medium);
    background-color: var(--fourth-color);
}


.btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color_options {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

/* #2.4 Paint Color part Two */
.color-option {
    width: 50px;
    height: 50px;
    border: 5px solid var(--white-color);
    border-radius: 50px;
    cursor: pointer;
    transition: transform ease-in-out .3s;
}

.color-option:hover {
    transform: scale(1.2);
}

input#color {
    width: 50px;
    height: 40px;
    overflow: hidden;
}

button,
.file {
    all: unset;
    padding: 10px;
    background-color: var(--third-color);
    border-radius: 10px;
    color: var(--fourth-color);
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: opacity linear .3s;
}

button:hover {
    opacity: 0.85;
}

input#file {
    display: none;
}

input[type="text"] {
    all: unset;
    padding: 10px;
    background-color: var(--white-color);
    border-radius: 10px;
    color: var(--first-color);
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: opacity linear .3s;
}

.title {
    display: block;
    padding: 5px;
    margin-bottom: -15px;
    font-size: 11px;
    font-weight: bold;
}

.range {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 5px;
    margin-bottom: -5px;
    font-size: 10px;
}

.range li {
    display: flex;
    align-items: center;
    justify-content: center;
}